
.landing-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    background-color: #1569E0;
    text-align: center;
    color: white;
    justify-content: center;
}
.landing-content {
    margin-top: -30vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.landing-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingLogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 1px solid black;
}
.landing-login-header {
    background-color: #1569E0;
    color: white;
}
.landing-login-body {
    background-color: #ebeaf7;
}
.landing-email-input {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: #EBEAF7;
}
.landing-email-input ~.border {
    position:absolute;
    bottom:0;
    left: 1;
    width: 0;
    height: 3px;
}
.landing-email-input:focus ~.border{
    width: 96.8%;
    transition: 0.5s;
    background-color: #EBEAF7;
}
.landing-email-input:focus {
    background-color: #EBEAF7;
    box-shadow: inset 0 -1px 0 #ddd;
}
.border {
    border: 1px solid #4385F4!important;
    background-color: #4385F4!important;
}
.centerbuttons {
    text-align: center;
}