.landing-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1569e0;
  text-align: center;
  color: white;
  justify-content: center;
}
.landing-content {
  margin-top: -30vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.landing-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../Media//loginImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landingLogo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid black;
}
.landingImage {
  position: absolute;
}
.landing-login-header {
  background-color: #1569e0;
  color: white;
}
.landing-login-body {
  background-color: #ebeaf7;
}
.landing-email-input {
  border: none;
  border-bottom: 3px solid #ffffff;
  background-color: #ebeaf7;
}
.landing-email-input ~ .border {
  position: absolute;
  bottom: 0;
  left: 1;
  width: 0;
  height: 3px;
}
.landing-email-input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
  background-color: #ebeaf7;
}
.landing-email-input:focus {
  background-color: #ceddfa;
  box-shadow: inset 0 -1px 0 #ddd;
}
.border {
  border: 1px solid #4385f4 !important;
  background-color: #4385f4 !important;
}
.centerbuttons {
  text-align: center;
}
