.trip-page-header {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.trip-list {
    background-color: #EBEAF7;
}
.trip-list-header {
    background-color: #166AE0;
    color: white;
}
.trip-list-body {
    position: relative;
    z-index: 1;
}
.trip-list-body:before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Media/tripPageImage.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
}