.destinations-list {
    background-color: #EBEAF7;
    border: 1px solid #81a6da;
}
.destinations-list-header {
    display: flex;
    background-color: #166AE0;
    color: white;
    align-items: center;
}
.destinations-list-body {
    background-color: #ffffff;
}
.destinations-list-icon {
    filter: invert(1);
}
.tripThumbnail:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.tripThumbnail {
    border: 1px solid rgba(0,0,0,.125);
}