.expenses-list {
    background-color: #EBEAF7;
    border: 1px solid #81a6da;
}
.expenses-list-header {
    display: flex;
    background-color: #166AE0;
    color: white;
    align-items: center;
}
.expenses-list-body {
    background-color: #ffffff;
}