.friends-page-header {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.friend-list-header {
    display: flex;
    flex-direction: row;
    background-color: #166AE0;
    color: white;
}
.add-friend-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.friend-list-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EBEAF7;
}